{% extends 'profile.html.twig' %}

{% block title %}Orbi|Profile{% endblock %}

{% block body %}


            <section class="col-lg-9 py-5">
<h1 class="hero-heading mb-0">Cambiar Imagen</h1>
            <form action="{{path('imagen')}}" method="POST" class="d-flex" enctype="multipart/form-data">
            <input type='file' name="imagen">
            <button class="btn btn-primary" type="submit">Cambiar imagen</button>
            </form>



                  <h1 class="hero-heading mb-0">info</h1>
                  <p class="text-muted mb-5">Administre su información personal y su configuración aquí.</p>
                  <div class="row">
                    <div class="col-lg-12 mb-5 mb-lg-0">
                         
   
                      <div class="text-block"> 
                        <div class="row mb-3">
                          <div class="col-sm-9">
                            <h5>Datos Personales</h5>
                          </div>
                          <div class="col-sm-3 text-end">
                            <button class="btn btn-link ps-0 text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalDetails" aria-expanded="false" aria-controls="personalDetails">Actualizar</button>
                          </div>
                        </div>
                        <p class="text-sm text-muted"><i class="fa fa-id-card fa-fw me-2"></i>{{persona.getNombre()}}<br><i class="fa fa-birthday-cake fa-fw me-2"></i>{{persona.getFechaNacimiento()|date('Y-m-d')}}<br><i class="fa fa-envelope-open fa-fw me-2"></i>{{persona.getDni()}} <span class="mx-2"> | </span>  <i class="fa fa-phone fa-fw me-2"></i>{{persona.getTelefono()}}</p>
                        <div class="collapse" id="personalDetails">
                          {{form_start(form)}}
                            <div class="row pt-4">
                              <div class="mb-4 col-md-6">
                                <label class="form-label" for="name">Name</label>
                              {{form_widget(form.Persona.nombre,{'attr': {'value': persona.getNombre()}})}}
                              </div>
                               <div class="mb-4 col-md-6">
                                <label class="form-label" for="name">Name</label>
                              {{form_widget(form.Persona.apellidos,{'attr': {'value': persona.getApellidos()}})}}
                              </div>
                              <div class="mb-4 col-md-6">
                                <label class="form-label" for="date">Date of birth</label>
                                {{form_widget(form.Persona.FechaNacimiento,{'attr': {'value': persona.getFechaNacimiento()|date('Y-m-d')}})}}
                              </div>
                            
                              <div class="mb-4 col-md-6">
                                <label class="form-label" for="phone">Phone number</label>
                                {{form_widget(form.Persona.telefono,{'attr': {'value': persona.getTelefono()}})}}
                              </div>
                               <div class="mb-4 col-md-6">
                                <label class="form-label" for="phone">Phone number</label>
                                {{form_widget(form.Persona.dni,{'attr': {'value': persona.getDni()}})}}
                              </div>
                            </div>
                            <button class="btn btn-outline-primary mb-4" id="btnGuardar" type="submit">Guardar datos personales</button>
                         {{form_end(form)}}
                        </div>
                      </div>
                       <h1 class="hero-heading mb-5">Mis reservas</h1>

                   <div class="list-group shadow mb-5"><div class="list-group-item list-group-item-action p-4">
          
          {% if not reservas %}
            <p>Todavia no has realizado ninguna reserva</p>
          {% else %}
         
       {% for reserva in reservas %}

          <div class="row">
            <div class="col-lg-4 align-self-center mb-4 mb-lg-0">
              <div class="d-flex align-items-center mb-3">
            <img class="img-fluid"
                  src="{{asset('/img/alojamientos/' ~ reserva.Items[0].getAlojamiento().getImages[0].getImageName())}}">
              </div>
              
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-6 col-md-4 col-lg-3 py-3 mb-3 mb-lg-0">
                  <h6 class="label-heading">Estado</h6>
                  <p class="text-sm fw-bold">{{reserva.getStatus()}}</p>
                </div>
                <div class="col-6 col-md-4 col-lg-3 py-3">
                  <h6 class="label-heading">Total</h6>
                  <p class="text-sm fw-bold mb-0">{{reserva.getTotal()}} €</p>
                </div>
                <div class="col-6 col-md-4 col-lg-3 py-3">
                  <h6 class="label-heading">Creado en </h6>
                  <p class="text-sm fw-bold">{{reserva.CreateAt()| date('Y-m-d')}}</p>
                  <h6 class="label-heading">Actualizado el</h6>
                  <p class="text-sm fw-bold mb-0">{{reserva.UpdateAt()|date('Y-m-d')}}</p>
                </div>
                <div class="col-12 col-lg-3 align-self-center">
                 {% if reserva.getStatus =='aceptado' %}
    
    <p>Reserva ya aceptada</p>
      <a href="{{path('deleteItem2',{'id':reserva.getId()})}}" class="text-danger text-sm text-uppercase me-4 me-lg-0">Cancelar</a>
    {%  elseif reserva.getStatus =='cancelado' %}
     <p>Reserva cancelada</p>
     {% else %}
      <a href="{{path('deleteItem2',{'id':reserva.getId()})}}" class="text-danger text-sm text-uppercase me-4 me-lg-0">Cancelar</a>
                  {% endif  %} 
                 <a href="{{path('carrito',{'id':reserva.getId()})}}" class="text-primary text-sm text-uppercase">detalles</a>   
                </div>
              </div>
            </div>
          </div>
          <hr>
            {% endfor %}
            {% endif %}
        </div>
     
      </div>
             
                    
                  </div>
                </div>

                
              </section>
{% block javascripts %}
{{parent()}}
<script src="{{asset('js/perfil.js')}}"></script>

 
       

{% endblock %}
{% endblock %}
