{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/usuario/ProyectoOrbi/src/Controller/ProfileController.php'|file_link(0) }}">src/Controller/ProfileController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/usuario/ProyectoOrbi/templates/profile/index.html.twig'|file_link(0) }}">templates/profile/index.html.twig</a></code></li>
    </ul>
</div>

{{form_start(form)}}

{{form_row(form.Persona.nombre,{'attr': {'value': persona.getNombre()}})}}
{{form_row(form.Persona.apellidos,{'attr': {'value': persona.getApellidos()}})}}
{{form_row(form.Persona.telefono,{'attr': {'value': persona.getTelefono()}})}}
{{form_row(form.Persona.FechaNacimiento,{'attr': {'value': persona.getFechaNacimiento()|date('d-m-Y')}})}}
{{form_row(form.Persona.CodigoPostal,{'attr': {'value': persona.getCodigoPostal()}})}}
<button type="submit" class="btn btn-primary "   id="btnGuardar"  disabled> Guardar cambiar</button>
{{form_end(form)}}

<script>

let nombre=document.querySelector('#profile_form_Persona_nombre');
let apellidos=document.querySelector('#profile_form_Persona_apellidos');
let telefono=document.querySelector('#profile_form_Persona_telefono');
let FechaNacimiento=document.querySelector('#profile_form_Persona_FechaNacimiento');
let codPostal=document.querySelector('#profile_form_Persona_CodigoPostal');
let boton=document.querySelector('#btnGuardar');

nombre.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
    let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
    let CodigoPostal=document.getElementById('profile_form_Persona_CodigoPostal');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
      boton.disabled = false;

    }
})

apellidos.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
    let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
    let CodigoPostal=document.getElementById('profile_form_Persona_CodigoPostal');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
     boton.disabled = false;

    }
})


telefono.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
    let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
    let CodigoPostal=document.getElementById('profile_form_Persona_CodigoPostal');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
     boton.disabled = false;

    }
})

FechaNacimiento.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
    let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
    let CodigoPostal=document.getElementById('profile_form_Persona_CodigoPostal');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
      boton.disabled = false;

    }
})

codPostal.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
   let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
   let CodigoPostal=document.getElementById('profile_form_Persona_CodigoPostal');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
      boton.disabled = false;

    }
})


</script>
{% endblock %}
