{% extends 'password.html.twig' %}

{% block title %}Orbi|Profile{% endblock %}

{% block body %}








<section class="py-5 mb-5">
    <div class="container">
        <div class="row">
           <div class="col-lg-3  ">
                <div class="card border-0 shadow mb-3 ">
                    <div class="card-header bg-gray-100 py-4 border-0 text-center"><a class="d-inline-block"
                            href="#"><img class="d-block avatar avatar-xxl p-2 mb-2"
                                src="{{asset('/img/usuarios/' ~ persona.getUser().getImages())}}"
                                alt=""></a>
                        <h5>{{persona.getNombre()}} {{persona.getApellidos()}}</h5>
                        <span>{{persona.getUser().getEmail()}}</span>
                      <ul class="list-group list-group-flush mt-5">
                            <a href="{{path('app_profile')}}" class="list-group-item bg-gray-100">Perfil</a>
                            <a href="{{path('security')}}" class="list-group-item bg-gray-100">Seguridad</a>
                        
                      </ul>
                    </div>
                </div>
            </div>




            <section class="col-lg-9 py-5">
                  <h1 class="hero-heading mb-0">info</h1>
                  <p class="text-muted mb-5">Administre su información personal y su configuración aquí.</p>
                  <div class="row">
                    <div class="col-lg-12 mb-5 mb-lg-0">
                      <div class="text-block"> 
                        <div class="row mb-3">
                          <div class="col-sm-9">
                            <h5>Datos Personales</h5>
                          </div>
                          <div class="col-sm-3 text-end">
                            <button class="btn btn-link ps-0 text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalDetails" aria-expanded="false" aria-controls="personalDetails">Actualizar</button>
                          </div>
                        </div>
                        <p class="text-sm text-muted"><i class="fa fa-id-card fa-fw me-2"></i>{{persona.getNombre()}}<br><i class="fa fa-birthday-cake fa-fw me-2"></i>{{persona.getFechaNacimiento()|date('Y-m-d')}}<br><i class="fa fa-envelope-open fa-fw me-2"></i>{{persona.getDni()}} <span class="mx-2"> | </span>  <i class="fa fa-phone fa-fw me-2"></i>{{persona.getTelefono()}}</p>
                        <div class="collapse" id="personalDetails">
                          {{form_start(form)}}
                            <div class="row pt-4">
                              <div class="mb-4 col-md-6">
                                <label class="form-label" for="name">Name</label>
                              {{form_widget(form.Persona.nombre,{'attr': {'value': persona.getNombre()}})}}
                              </div>
                               <div class="mb-4 col-md-6">
                                <label class="form-label" for="name">Name</label>
                              {{form_widget(form.Persona.apellidos,{'attr': {'value': persona.getApellidos()}})}}
                              </div>
                              <div class="mb-4 col-md-6">
                                <label class="form-label" for="date">Date of birth</label>
                                {{form_widget(form.Persona.FechaNacimiento,{'attr': {'value': persona.getFechaNacimiento()|date('Y-m-d')}})}}
                              </div>
                            
                              <div class="mb-4 col-md-6">
                                <label class="form-label" for="phone">Phone number</label>
                                {{form_widget(form.Persona.telefono,{'attr': {'value': persona.getTelefono()}})}}
                              </div>
                               <div class="mb-4 col-md-6">
                                <label class="form-label" for="phone">Phone number</label>
                                {{form_widget(form.Persona.dni,{'attr': {'value': persona.getDni()}})}}
                              </div>
                            </div>
                            <button class="btn btn-outline-primary mb-4" id="btnGuardar" type="submit">Guardar datos personales</button>
                         {{form_end(form)}}
                        </div>
                      </div>

             
                    
                  </div>
                </div>
<!--
                <div class="text-block"> 
                  <h3 class="mb-4">Login</h3>
                  <div class="row">
                    <div class="col-sm-8">
                      <h6>Password</h6>
                      <p class="text-sm text-muted">Last updated 3 years ago</p>
                    </div>
                    <div class="col text-end">
                      <button class="btn btn-link ps-0 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#updatePassword" aria-expanded="true" aria-controls="updatePassword">Update</button>
                    </div>
                  </div>
                  <div class="collapse show" id="updatePassword" style="">
                    <div class="row mt-4">
                      <div class="mb-4 col-12">
                        <label class="form-label" for="password-current">Current Password</label>
                        <input class="form-control" type="password" name="password-current" id="password-current">
                      </div>
                      <div class="mb-4 col-md-6">
                        <label class="form-label" for="password-new">New Password</label>
                        <input class="form-control" type="password" name="password-new" id="password-new">
                      </div>
                      <div class="mb-4 col-md-6">
                        <label class="form-label" for="password-confirm">Confirm Password</label>
                        <input class="form-control" type="password" name="password-confirm" id="password-confirm">
                      </div>
                    </div>
                    <button class="btn btn-outline-primary">Update Password</button>
                  </div>
                </div>

-->
                
              </section>




              
        </div>
    </div>
</section>


<script>

let nombre=document.querySelector('#profile_form_Persona_nombre');
let apellidos=document.querySelector('#profile_form_Persona_apellidos');
let telefono=document.querySelector('#profile_form_Persona_telefono');
let FechaNacimiento=document.querySelector('#profile_form_Persona_FechaNacimiento');
let codPostal=document.querySelector('#profile_form_Persona_dni');
let boton=document.querySelector('#btnGuardar');

nombre.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
    let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
    let CodigoPostal=document.getElementById('profile_form_Persona_dni');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
      boton.disabled = false;

    }
})

apellidos.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
    let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
    let CodigoPostal=document.getElementById('profile_form_Persona_dni');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
     boton.disabled = false;

    }
})


telefono.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
    let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
    let CodigoPostal=document.getElementById('profile_form_Persona_dni');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
     boton.disabled = false;

    }
})

FechaNacimiento.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
    let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
    let CodigoPostal=document.getElementById('profile_form_Persona_dni');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
      boton.disabled = false;

    }
})

codPostal.addEventListener('input',function(){
    let name=document.getElementById('profile_form_Persona_nombre');
    let surnames=document.getElementById('profile_form_Persona_apellidos');
    let phone=document.getElementById('profile_form_Persona_telefono');
   let date=  document.getElementById('profile_form_Persona_FechaNacimiento');
   let CodigoPostal=document.getElementById('profile_form_Persona_dni');
    if(name.value !=nombre.value ||  surnames.value!=apellidos.value 
    ||phone.value !=telefono.value || date.value != FechaNacimiento.value || CodigoPostal.value != codPostal.value){

      boton.disabled = true;

    }else{
      boton.disabled = false;

    }
})


</script>
{% endblock %}
