{% extends 'profile.html.twig' %}

{% block title %}Orbi|Security{% endblock %}

{% block body %}


<section class="col-lg-9 py-5  ">
    
                <div class="text-block"> 
                  <h3 class="mb-4">Login</h3>
                  <div class="row">
                    <div class="col-sm-8">
                      <h6>Contraseña</h6>
                      
                    </div>
                    {{form_start(form)}}
                    <div class="col text-end">
                      <button class="btn btn-link ps-0 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#updatePassword" aria-expanded="true" aria-controls="updatePassword">actualizar</button>
                    </div>
                  </div>
                  <div class="collapse show" id="updatePassword" style="">
                    <div class="row mt-4">
                      <div class="mb-4 col-12">
                        
                        {{ form_row(form.oldPassword) }}
                      </div>
                      <div class="mb-4 col-md-6">
                  
                          {{ form_row(form.password.first) }}
                      </div>
                      <div class="mb-4 col-md-6">
                        
                         {{ form_row(form.password.second) }}
                      </div>
                    </div>
                     <button type="submit" class="btn btn-outline-primary">actualizar</button>
                    {{form_end(form)}}

                  </div>
                </div>

</section>
                
                  
    







{% endblock %}
