{% extends 'base.html.twig' %}

{% block title %}Orbi|Security{% endblock %}

{% block body %}








<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  ">
                <div class="card border-0 shadow mb-3 ">
                    <div class="card-header bg-gray-100 py-4 border-0 text-center"><a class="d-inline-block"
                            href="#"><img class="d-block avatar avatar-xxl p-2 mb-2"
                                src="{{asset('/img/usuarios/' ~ persona.getUser().getImages())}}"
                                alt=""></a>
                        <h5>{{persona.getNombre()}} {{persona.getApellidos()}}</h5>
                        <span>{{persona.getUser().getEmail()}}</span>
                      <ul class="list-group list-group-flush mt-5">
                            <a href="{{path('app_profile')}}" class="list-group-item bg-gray-100">Perfil</a>
                            <a href="{{path('security')}}" class="list-group-item bg-gray-100">Seguridad</a>
                            <a class="list-group-item bg-gray-100">Borrar Cuenta</a>
                      </ul>
                    </div>
                </div>
            </div>

<section class="col-lg-9 py-5  ">
     <ol class="breadcrumb ps-0  justify-content-start">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="user-account.html">Account</a></li>
                    <li class="breadcrumb-item active">Personal info   </li>
                  </ol>
                <div class="text-block"> 
                  <h3 class="mb-4">Login</h3>
                  <div class="row">
                    <div class="col-sm-8">
                      <h6>Password</h6>
                      
                    </div>
                    <div class="col text-end">
                      <button class="btn btn-link ps-0 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#updatePassword" aria-expanded="true" aria-controls="updatePassword">Update</button>
                    </div>
                  </div>
                  <div class="collapse show" id="updatePassword" style="">
                    <div class="row mt-4">
                      <div class="mb-4 col-12">
                        <label class="form-label" for="password-current">Current Password</label>
                        <input class="form-control" type="password" name="password-current" id="password-current">
                      </div>
                      <div class="mb-4 col-md-6">
                        <label class="form-label" for="password-new">New Password</label>
                        <input class="form-control" type="password" name="password-new" id="password-new">
                      </div>
                      <div class="mb-4 col-md-6">
                        <label class="form-label" for="password-confirm">Confirm Password</label>
                        <input class="form-control" type="password" name="password-confirm" id="password-confirm">
                      </div>
                    </div>
                    <button class="btn btn-outline-primary">Update Password</button>
                  </div>
                </div>

</section>
                
                  
        </div>
    </div>
</section>
{{form_start(form)}}
 <button type="submit" class="btn btn-outline-primary">Update Password</button>
{{form_end(form)}}





{% endblock %}
