{% extends 'baseIndex.html.twig' %}

{% block title %}Hello AdministracionController!{% endblock %}

{% block body %}

<a href="{{path('HotelCreate')}}"><button type="button" class="btn btn-danger" style="float:right; width: 120px; border-radius: 20px">+ Crear</button></a>

     <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Roles</th>
      <th scope="col">Verificacion</th>
       <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for usuario in usuarios %}
    <tr>
      <th scope="row">{{usuario.getId()}}</th>
      <td>{{usuario.getEmail()}}</td>
      <td></td>
      <td>{{usuario.isVerified()}}</td>
      <td>
  
         <a href="{{ path('UsuarioDetails', {'id':usuario.getId()})}}" class="view" title="" data-toggle="tooltip" data-original-title="View"><i class="material-icons">detalles</i></a>
         <a href="{{ path('UsuarioEdit', {'id':usuario.getId()})}}" class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="material-icons">editar</i></a>
         <a href="{{ path('UsuarioDelete', {'id':usuario.getId()})}}" class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons">borrar</i></a>
       
      </td>
    </tr>
     {% endfor %}
  </tbody>
</table>



{% endblock %}