{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}

{% endblock %}



{% block body %}
<main>
 <div id="infoHoteles" data-hotels="{{hoteles|serialize('json', { groups: 'hotel'})}}"></div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">filtrar</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Precio:</label>
            <input type="checkbox" value="25"> 25</br>
            <input type="checkbox" value="50"> 50</br>
            <input type="checkbox" value="75"> 75</br>
            <input type="checkbox" value="150"> 150</br>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Tipo de Alojamiento:</label>
             <input type="checkbox" value="all">Todos</br>
           <input type="checkbox" value="Hotel">Hotel</br>
<input type="checkbox" value="Hostal">Hostal</br>
<input type="checkbox" value="Albergue">Albergue</br>
<input type="checkbox" value="Casa Rural">Casa Rural</br>
<input type="checkbox" value="Propietario">Propietario</br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>



<form>
 <p>Precio</p>
<input type="text" id="minprice" value="10">
<input type="text" id="maxprice" value="2500">
<input type="text" value="Gijon" id="lugar">
</form>


<div class="dropdown-content">
 
<a href="{{path('RegionExplore',{'name':'Asturias'})}}">Asturias</a>

</div>


<ul class="chec-radio">
<li class="pz">
		<label class="radio-inline">
			<input type="radio"  id="all" name="property_type" class="pro-chx" value="constructed" checked>
			<div class="clab">Todos</div>
		</label>
	</li>
	<li class="pz">
		<label class="radio-inline">
			<input type="radio"  id="Hotel" name="property_type" class="pro-chx" value="constructed">
			<div class="clab">Hotel</div>
		</label>
	</li>
	<li class="pz">
		<label class="radio-inline">
			<input type="radio" id="Hostal" name="property_type" class="pro-chx" value="unconstructed" >
		 <div class="clab">Hostal</div>
		</label>
	</li>
	<li class="pz">
		<label class="radio-inline">
			<input type="radio" id="albergue" name="property_type" class="pro-chx" value="open_land">
			<div class="clab">Albergue</div>
		</label>
	</li>
  <li class="pz">
		<label class="radio-inline">
			<input type="radio" id="casaRural" name="property_type" class="pro-chx" value="open_land">
			<div class="clab">Casa Rural</div>
		</label>
	</li>
  <li class="pz">
		<label class="radio-inline">
			<input type="radio" id="propietario" name="property_type" class="pro-chx" value="open_land">
			<div class="clab">Propietario</div>
		</label>
	</li>
</ul>



<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div id="ids" class="d-flex flex-row bg-light" style="position: relative;">
    <div class="divHoteles" id="divH">
    
       <button type="button" class="btn btn-light" id="boton" style="width: 3rem; float-right">X</button>
    <div class=" p-4" id="mensajes">
      <h4 class="fw-bold text-secondary">Mas de un numero indefinido de Hoteles</h4>
      <hr style="width: 100%;">
      <div id="alojamientos">
           <div id="alo-b">
           {% for hotel in hoteles %}

                <div class="" style="width: 100%; ">
      
      
                       <a class="d-flex flex-column flex-md-row col-12 justify-content-center align-items-center gap-4" href="{{ path('alojamiento', {'nombre':hotel.getNombre()})}}" style="text-decoration:none">
        
                       <div>
                        <img class="img-fluid " style="border-radius: 15px; height: 200px; width: 300px;" src="https://revistatraveling.com/wp-content/uploads/2020/11/gran-via-alcala.jpg">
                       </div>
                    <div style="width: 400px;">
                        <h4 class="fw-light">{{hotel.getNombre()}}</h4>
                        <hr style="width: 50px;">
                           <div>
                               <p class="fw-light text-secondary">Este acogedor y luminoso apartamento (45m2) se encuentra en el centro de La Coruña. Con capacidad hasta para 2 huéspedes, aquí encontraréis todo lo necesario para tener una estancia inmejorable.</p>
                                       <div class="d-flex justify-content-end gap-2" style="float:right" >
                                         <span>{{hotel.getUbicacion().getProvincia()}}</span>
                                         <span>{{hotel.getPrecio()}}€/noche</span>
                                         </div>
                            </div>
                     </div>
                     </a>
                  </div>
          <!--
<h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          -->
          
       

      {% endfor %}
      </div>
      </div>
    </div>
    </div>
    </div>
  
  </div>
  </main>


  <script>
  
  /*variables*/
  let hotel=document.querySelector('#Hotel');
  let hostal=document.querySelector('#Hostal');
  let albergue=document.querySelector('#albergue');
  let casaRural=document.querySelector('#casaRural');
  let propietario=document.querySelector('#propietario');
  let todos=document.querySelector('#all');
  var minPrecio=document.querySelector('#minprice');
  var maxPrecio=document.querySelector('#maxprice');
  
  let hoteles=document.querySelector("#infoHoteles");
  let info=hoteles.dataset.hotels;
  var array=JSON.parse(info);
  var cambio=new Array();




hotel.addEventListener('click',function(){
  
filtrar(array,hotel.id);



});
hostal.addEventListener('click',function(){

  filtrar(array,hostal.id);
  
  sessionStorage.setItem('actividad',hostal.id);
})
albergue.addEventListener('click',function(){

  filtrar(array,albergue.id);
 
})
casaRural.addEventListener('click',function(){

filtrar(array,casaRural.id);


})
propietario.addEventListener('click',function(){

filtrar(array,propietario.id);

})

todos.addEventListener('click',function(){
sessionStorage.removeItem('actividad'); 
mostrarAlojamientos(array);

})



document.addEventListener("DOMContentLoaded",function(){


if(window.sessionStorage){
  if(!sessionStorage.getItem('actividad')){
mostrarAlojamientos(array)
  }else{
let actividad=sessionStorage.getItem("actividad");
  console.log(actividad)
  filtrar(array,actividad);
  
  }
}
})

function filtrar(array,actividad){

 sessionStorage.setItem('actividad',actividad);
cambio=array.filter((element) => {
 return( element.Actividad == actividad && element.precio > minPrecio.value || element.precio < maxPrecio.value)});
if(cambio!=undefined && cambio.length >0){
mostrarAlojamientos(cambio);

}else{
mostrarMensaje();
}

}


function mostrarMensaje(){

  let div=document.getElementById('alojamientos');
  let hijo=document.getElementById('alo-b');
  div.removeChild(hijo);


  let divhijo=document.createElement('div');
  divhijo.id="alo-b";

let parrafo=document.createElement('p');
parrafo.textContent="No hay alojamientos disponibles"
divhijo.appendChild(parrafo);
div.appendChild(divhijo);
}


function mostrarAlojamientos(array){

  let div=document.getElementById('alojamientos');
  let hijo=document.getElementById('alo-b');
  div.removeChild(hijo);


  let divhijo=document.createElement('div');
  divhijo.id="alo-b";
  
  console.log(array);
  for(let i=0;i<array.length;i++){

let principal=document.createElement('div');
principal.classList="col";

let item=document.createElement('div');
item.classList="packege__item";
let inner=document.createElement('div');
inner.classList="packege__inner";


let thumb=document.createElement('div');
thumb.classList="packege__thumb";
let enlace=document.createElement('a');
enlace.href="/alojamiento/" + array[i]['Nombre'];
/*let imagen=document.createElement('img');
imagen.setAttribute('src','/img/alojamientos/'+ array[i]['images'][0]['imageName']);
enlace.appendChild(imagen)*/
thumb.appendChild(enlace);

let content=document.createElement('div');
content.classList="packege__content";
let aContent=document.createElement('a');
aContent.href="/alojamiento/" + array[i]['Nombre'];
let h5=document.createElement('h5');
h5.textContent=array[i]['Nombre'];
let rivew=document.createElement('div');
rivew.classList="packege__rivew";
let left=document.createElement('div')
left.classList="left";
let span1=document.createElement('span');
span1.textContent='lugar';
let span2=document.createElement('span');
span2.textContent='jiio';
let right=document.createElement('div');
right.classList="right";
let span3=document.createElement('span');
span3.textContent="fdfdfd";
left.appendChild(span1);
left.appendChild(span2)
right.appendChild(span3);
rivew.appendChild(left);
rivew.appendChild(right);
aContent.appendChild(h5);
content.appendChild(aContent)
content.appendChild(rivew)




inner.appendChild(thumb);
inner.appendChild(content)
item.appendChild(inner);
principal.appendChild(item);
 

    divhijo.appendChild(principal)
  }

div.appendChild(divhijo);
  }


/*
function getGET()
    {
        // capturamos la url
        var loc = document.location.href;
        // si existe el interrogante
        if(loc.indexOf('?')>0)
        {
            // cogemos la parte de la url que hay despues del interrogante
            var getString = loc.split('?')[1];
            // obtenemos un array con cada clave=valor
            var GET = getString.split('&');
            var get = {};
            // recorremos todo el array de valores
            for(var i = 0, l = GET.length; i < l; i++){
                var tmp = GET[i].split('=');
                get[tmp[0]] = unescape(decodeURI(tmp[1]));
            }
            return get;
        }
    }
*/
 
    /*
        // Cogemos los valores pasados por get
        var valores=getGET();
        if(valores)
        {
            //recogemos los valores que nos envia la URL en variables para trabajar 
                //con ellas
            var actividad= valores['actividad'];
            console.log(min);
            var min=valores['minPrecio'];
            var max=valores['maxPrecio'];

            minPrecio.value=min;
            maxPrecio.value=max;
           

            filtrar(array,actividad);
             
        }else{
            // no se ha recibido ningun parametro por GET
            document.write("No se ha recibido ningún parámetro");
        }
  
*/


  </script>
{% endblock %}

  