{% extends 'explore.html.twig' %}


{% block title %}Orbi | {{region.getNombre()}}{% endblock %}

{% block stylesheets %}
{{parent()}}

{% endblock %}



{% block body %}
<main>
 <div id="infoHoteles" data-hotels="{{alojamientos|serialize('json', { groups: 'hotel'})}}" style="display:none"></div>
 <section class="d-flex justify-content-center fixed-top items-center py-16 bg-gray-100" style="top:72px; z-index:1;">

    <label class="rad-label">
      <input type="radio"  id="all" class="rad-input" name="rad" checked>
      <div class="rad-design"></div>
      <div class="rad-text">Todos</div>
    </label>
  
    <label class="rad-label">
      <input type="radio" id="Hotel" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Hotel</div>
    </label>

    <label class="rad-label">
      <input type="radio"  id="Hostal" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Hostal</div>
    </label>

    <label class="rad-label">
      <input type="radio" id="Albergue" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Albergue</div>
    </label>
  
    <label class="rad-label">
      <input type="radio" id="CasaRural" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Casa Rural</div>
    </label>
  
   
  </section>


 <div class="container-fluid mt-5" >
    <div class="row pt-3">
        <div class="col-lg-6 py-4 p-xl-5" id="alojamiento">
          <h2 class="mb-4">{{region.getNombre()}}</h2>
          <p>{{region.getDescripcion()}}</p>
          <hr class="my-4">
          <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4">
            <div class="me-3">
              <p class="mb-3 mb-md-0"><strong id="result"></strong> resultados encontrados</p>
            </div>
          </div>
          <div class="row p-2" id="hijo">
          
           
          </div>

          
        </div>
   
<div class="col-lg-6 map-side-lg pe-lg-0 " style="z-index: 0;">
      <div class="sticky-top" style="top: 80px">
          <div class="map"  id="map2" ></div>
        </div>
        </div>
      
        
      </div>
    </div>

  </main>

   {% block javascripts %}
{{parent()}}
<script src="{{asset('js/region.js')}}"></script>
 <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC0tNJpXxOiglzaKtr5C2KCOT0HJvpnMzY&callback=initMap&libraries=&v=weekly'
    asyn defer></script>

      
{% endblock %}

  

  
  

  </script>
{% endblock %}

  