{% extends 'baseIndex.html.twig' %}

{% block title %}Hello AdministracionController!{% endblock %}

{% block body %}

<h1 class="mt-4">Editar</h1>


{{ form_start(form) }}
   <div class="p-5 pt-2  d-flex flex-column gap-3 justify-content-center col-8 w-100">

<div class="card ">
  <div class="card-header ">
    <h3 class="card-title fw-light">Datos de Region</h3>
  </div>
  <div class="card-body">
  
  <div class="form-group"> <!-- Full Name -->
       {{ form_label(form.nombre) }}
       {{ form_widget(form.nombre,{'attr': {'value': region.getNombre()}}) }}
    </div> 

 <div class="form-group"> <!-- Actividad -->
         {{ form_label(form.latitud) }}
         {{ form_widget(form.latitud,{'attr': {'value': region.getLatitud()}}) }}
     </div>

  <div class="form-group"> <!-- caracteristicas -->
         {{ form_label(form.longitud) }}
         {{ form_widget(form.longitud,{'attr': {'value': region.getLongitud()}}) }}
     </div> 

         <div class="form-group"> <!-- descripcion -->
        {{ form_label(form.descripcion) }}
        {{ form_widget(form.descripcion,{'attr': {'value': region.getDescripcion()}}) }}
     </div> 

  
     
</div>


</div>

<div class="form-group"> <!-- Submit Button -->
        <a href="{{path('region')}}"><button type="button" class="btn btn-danger">Cancelar</button></a>
        <button type="submit" class="btn btn-primary" name="editar">Editar</button>
    </div> 
{{form_end(form)}}


{% endblock %}