<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
         
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

        
    </head>
    <body class="h-100">
	<div class="loader-page"></div>
    <div class="superNav border-bottom py-2 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
          <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>grivote615@iesmartinezm.es</strong></span>
          <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>+34 632 35 94 11</strong></span>
        </div>
       
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
           <img src="{{asset('/img/Orbi.png')}}" width="30px" height="30px">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>Orbi</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="{{path('app_home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="{{path('explore')}}">Explorar</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="{{path('app_contact')}}">Contacto</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
           
          </li>
		    {% if  app.user %}
         
		  <div class="flex-shrink-0 dropdown" style="">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{asset('/img/usuarios/' ~ app.user.images)}}" alt="mdo" class="rounded-circle" width="32" height="32">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="z-index:0">
              <li><a class="dropdown-item" href="{{path('app_profile')}}">Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{path('logout')}}">Cerrar Sesion</a></li>
            </ul>
          </div>
		  {% else %}
		  <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="{{path('login')}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg> Iniciar Sesion</a>
          </li>
          
		 {% endif %}
        </ul>
      </div>
    </div>
  </nav>

       {% block body %}{% endblock %}
    
      
		
            <section class=" w-100" style="bottom:0; left:0;  ">
                <div class="py-4 fw-light bg-gray-800 text-gray-300">
                    <div class="container">
                      <div class="row align-items-center">
                        <div class="col-md-6 text-center text-md-start">
                          <p class="text-sm text-white mb-md-0">© 2022, Orbi. Todos los derechos reservados.</p>
                        </div>
                        <div class="col-md-6">
                          <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-end">
                            
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- end of .container-->
            
              </section>
 {% block javascripts %} 
       {{encore_entry_script_tags('app')}}
       <!-- El script asincrónico se ejecuta inmediatamente y debe estar después de cualquier elemento DOM utilizado en la devolución de llamada. -->

<script src="{{asset('orbi.js')}}"></script>





  
        {% endblock %}
    </body>
</html>
