<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
         
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

        
    </head>
    <body class="h-100">

       {% block body %}{% endblock %}
    
       {% block javascripts %} 
       {{encore_entry_script_tags('app')}}
       <!-- El script asincrónico se ejecuta inmediatamente y debe estar después de cualquier elemento DOM utilizado en la devolución de llamada. -->

       <script src="{{ asset('build/app.js') }}" type="text/javascrpt" defer></script>
       <!--
       <script src="{{asset('gmaps.js')}}" type="text/javascript" asyn defer></script>  
       <script src="{{asset('script.js')}}" type="text/javascript" asyn defer></script>    
       <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC0tNJpXxOiglzaKtr5C2KCOT0HJvpnMzY&callback=initMap&libraries=&v=weekly'
    asyn defer></script>
       -->
        
      
  
        {% endblock %}
		<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50" style="float:bottom">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
    </body>
</html>
