{% extends 'base.html.twig' %}

{% block title %}Hello AlojamientoController!{% endblock %}

{% block body %}


{{ form_start(form, {'action': path('stays',{'id':alojamiento.getId()}), 'method': 'GET'})  }}
  <div class="row">
    <div class="col">
       {{ form_widget(form.llegada) }}
       {{ form_widget(form.salida) }}
    </div>
     <div class="col">
      {{ form_label(form.adultos) }}
       {{ form_widget(form.adultos) }}
    </div>
    <div class="col">
      {{ form_label(form.ninos) }}
       {{ form_widget(form.ninos,{'type':'number'}) }}
    </div>
    <div class="col">
      {{ form_label(form.bebes) }}
       {{ form_widget(form.bebes) }}
    </div>
    <div class="col">
      {{ form_label(form.mascotas) }}
       {{ form_widget(form.mascotas) }}
    </div>
  </div>
   <button type="submit" class="btn btn-primary" name="editar">Reservar</button>
{{ form_end(form) }}

{% endblock %}
