{% extends 'base.html.twig' %}

{% block title %}Orbi | {{alojamiento.getNombre()}}{% endblock %}

{% block body %}
<div id="infoHoteles" data-hotels="{{alojamiento|serialize('json', { groups: 'hotel'})}}" style="display:none"></div>
<div class="container pt-5">

    <div class="row g-4">
      <div class="col-lg-8">
        <div class="row g-4 row-cols-1">
        
          <div class="text-block">
            <p class="text-primary"><i class="fa-map-marker-alt fa me-1"></i> {{alojamiento.getUbicacion().getRegion().getNombre()}}, {{alojamiento.getUbicacion().getProvincia()}}</p>
            <h1>{{alojamiento.getNombre()}}</h1>
            <p class="text-muted text-uppercase mb-4">{{alojamiento.getActividad().getNombre()}} </p>
            <ul class="list-inline text-sm mb-4">
              <li class="list-inline-item me-3"><i class="fa fa-users me-1 text-secondary"></i>{{alojamiento.getCaracteristicas()}} </li>
            </ul>
            <p class=" mb-2">Dirección:{{alojamiento.getUbicacion().getDireccion()}} </p>
                  <p class="text-muted  mb-4">Teléfono:{{alojamiento.getTelefono()}} </p>

              <div class="text-block">
              
                <div class="row gallery mb-3 ms-n1 me-n1">
                 {% for image in alojamiento.Images %}
                  <div class="col-lg-4 col-6 px-1 mb-2"><a href="{{asset('/img/alojamientos/' ~ image.ImageName)}}"
                      data-fancybox="gallery" title="Our street"><img class="img-fluid"
                        src="{{asset('/img/alojamientos/' ~ image.ImageName)}}"
                        alt="..."></a></div>
                  
                  {% endfor %}
                  
                 
                  
                </div>
              </div>
              <div>
                     <h5 class="mb-4">Descripción</h5>
             <p class="text-muted fw-light"> {{alojamiento.getDescripcion()}}</p>
              </div>

            
          </div>
          <section>


            <div class="text-block">
              <h5 class="mb-4">Localización</h5>
              <div class="map-wrapper-300 mb-3 ">
                <div id="map3"></div>
              </div>
            </div>
          </section>
        </div>
      </div>



      <div class="col-lg-4">

        <div class="p-4 shadow ms-lg-4 rounded sticky-top" style="top: 100px;">
          <p class="text-muted"><span class="text-primary h2">{{alojamiento.getPrecio()}}€</span> por noche</p>
          <hr class="my-4">
        {{ form_start(form, {'action': path('stays',{'id':alojamiento.getId()}), 'method': 'GET'})  }}
            <div class="mb-4">
              <label class="form-label" for="bookingDate">Seleccione fecha de llegada*</label>
              <div class="datepicker-container datepicker-container-right">
                {{ form_widget(form.llegada) }}
            </div>
            <div class="mb-4">
              <label class="form-label" for="bookingDate">Seleccione fecha de salida*</label>
              <div class="datepicker-container datepicker-container-right">
                {{ form_widget(form.salida) }}
            </div>
            <div class="mb-4">
              <label class="form-label" for="guests">Huespedes</label>
              {{ form_widget(form.huespedes,{'type':'number'}) }}
            </div>
            
            <div class="d-grid mb-4">
              <button class="btn btn-primary" type="submit">Pedir reserva</button>
            </div>
        {{form_end(form)}}
 
        </div>

      </div>
    </div>

  </div>
</div>
</div>
  <section>
    <div class="packege p-5 bg-ash position-relative">
        <div class="container ">

            <div class="row mb-5">
                <div class="col-md-8">
                    <p class="subtitle text-primary">Descubre otros alojamientos cercanos</p>
                    <h2>Nuestras recomendaciones</h2>
                </div>
                <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a class="text-muted text-sm"
                        href="{{path('RegionExplore',{'name':alojamiento.getUbicacion().getRegion().getNombre()})}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass-fill" viewBox="0 0 16 16">
  <path d="M15.5 8.516a7.5 7.5 0 1 1-9.462-7.24A1 1 0 0 1 7 0h2a1 1 0 0 1 .962 1.276 7.503 7.503 0 0 1 5.538 7.24zm-3.61-3.905L6.94 7.439 4.11 12.39l4.95-2.828 2.828-4.95z"/>
</svg>
                        ver todos</a>
                    </div>
            </div>


            <div class="section__wrapper  wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s"
                style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp; ">
                <div class="row g-4  row-cols-xl-4  row-cols-sm-2 row-cols-1 " style="padding-bottom: 50px;">

                                {% for alojamiento in alojamientos|slice(0,4) %}
              
                                    <div class="col">
                                        <div class="packege__item">
                                            <div class="packege__inner">
                                                <div class="packege__thumb">
                                                    <a href="{{path('alojamiento',{'nombre': alojamiento.getNombre()})}}"><img
                                                            src="{{asset('/img/alojamientos/' ~ alojamiento.images[0].ImageName)}}"
                                                            alt="Travel Thumb"></a>
                                                </div>
                                                <div class="packege__content">
                                                    <a href="{{path('alojamiento',{'nombre': alojamiento.getNombre()})}}">
                                                        <h5 style="color:#222">{{alojamiento.getNombre()}}</h5>
                                                    </a>
                                                    <div class="packege__rivew">
                                                        <div class="left ">
                                                        <p class="gx-2 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg>{{alojamiento.getUbicacion().getComunidad()}}</p>
                                                         
                                                           
                                                                 
                                                        </div>
                                                        <div class="right">
                                                            <span class="packege__price">{{alojamiento.getPrecio()}} €</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>




<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC0tNJpXxOiglzaKtr5C2KCOT0HJvpnMzY&callback=initMap&libraries=&v=weekly'
    asyn defer></script>

            

  
       

<script>

var array=new Array();
let hoteles=document.querySelector("#infoHoteles");
  let info=hoteles.dataset.hotels;
  array=JSON.parse(info);
  hoteles.remove();
 


function initMap() {
   let lat=parseFloat(array['ubicacion'].latitud);
   let lng=parseFloat(array['ubicacion'].longitud); 
  const orbiTravel = {
    lat: lat,
    lng: lng
  };
  map = new google.maps.Map(document.getElementById("map3"), {
    zoom: 17,
    center: orbiTravel,
   
  });

  new google.maps.Circle({
    
    map,
    strokeColor:'#0b5345',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#0b5345',
    fillOpacity: 0.35,
    center: orbiTravel,
    radius:50
  });
}

let fecha=new Date();
let anio=fecha.getFullYear();
let dia=fecha.getDate();
let _mes =fecha.getMonth();
_mes=_mes +1;

if(_mes < 10){
var mes= "0" + _mes;

}else{

  var mes= _mes.toString;
}

let fecha_minimo= anio + '-' + mes + '-' + dia;
fechallegada=document.getElementById("reservas_form_llegada");
fechallegada.setAttribute('min',fecha_minimo);
fechallegada.addEventListener('change',function(){

document.getElementById("reservas_form_salida").setAttribute('min',fechallegada.value);
})
document.getElementById("reservas_form_salida").setAttribute('min',fechallegada.value);


  

</script>

{% endblock %}
