{% extends 'reserva.html.twig' %}

{% block title %}Hello AlojamientoController!{% endblock %}

{% block body %}



 <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <p class="subtitle text-primary">Esta es la pagina de pago</p>
              <h1 class="h2 mb-5"> Reserva y Pagar</h1>
              <div class="text-block">
                <div class="alert alert-warning text-sm mb-3">
                  <div class="d-flex align-items-center">
                    
                    <div><strong>This home is on people’s minds.</strong> It’s been viewed 43 times in the past week.</div>
                  </div>
                </div>
              </div>
              <div class="text-block">
                <h5 class="mb-4">1 night in London</h5>
                <div class="row mb-3">
                  <div class="col-md-6 d-flex align-items-center mb-3 mb-md-0">
                    <div class="date-tile me-3">
                      <div class="text-uppercase"> <span class="text-sm">Apr</span><br><strong class="text-lg">17</strong></div>
                    </div>
                    <p class="text-sm mb-0">Wednesday check-in<br>3PM - 7PM</p>
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <div class="date-tile me-3">
                      <div class="text-uppercase"> <span class="text-sm">Apr</span><br><strong class="text-lg">18</strong></div>
                    </div>
                    <p class="text-sm mb-0">Thursday check-out<br>11AM</p>
                  </div>
                </div>
              </div>

              <div class="text-block">
                <label class="h5" for="form_guests">Guests</label>
                <p class="text-sm text-muted">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed in.</p>
                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <select class="form-select" title="Categories" data-style="btn-form-control"><option class="bs-title-option" value=""></option>
                      <option value="small">Restaurants</option>
                      <option value="medium">Hotels</option>
                      <option value="large">Cafes</option>
                      <option value="x-large">Garages</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="text-block">
                <form action="#">
                  <div class="d-flex justify-content-between align-items-end mb-4">
                    <h5 class="mb-0">Pay with your card</h5>
                    <div class="text-muted"><i class="fab fa-cc-amex fa-2x me-2"> </i><i class="fab fa-cc-visa fa-2x me-2"> </i><i class="fab fa-cc-mastercard fa-2x"></i></div>
                  </div>
                  
                    <select class="form-select" title="Categories" data-style="btn-form-control"><option class="bs-title-option" value=""></option>
                      <option value="small">Restaurants</option>
                      <option value="medium">Hotels</option>

                    </select>

               
                  <button class="btn btn-link btn-collapse ps-0 text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#addNewCard" aria-expanded="false" aria-controls="addNewCard" data-expanded-text="Close" data-collapsed-text="Add a new card">Add a new card</button>
                  <div class="row collapse" id="addNewCard">
                    <div class="mb-4 col-md-6">
                      <label class="form-label" for="card-name">Name on Card</label>
                      <input class="form-control" type="text" name="card-name" placeholder="Name on card" id="card-name">
                    </div>
                    <div class="mb-4 col-md-6">
                      <label class="form-label" for="card-number">Card Number</label>
                      <input class="form-control" type="text" name="card-number" placeholder="Card number" id="card-number">
                    </div>
                    <div class="mb-4 col-md-4">
                      <label class="form-label" for="expiry-date">Expiry Date</label>
                      <input class="form-control" type="text" name="expiry-date" placeholder="MM/YY" id="expiry-date">
                    </div>
                    <div class="mb-4 col-md-4">
                      <label class="form-label" for="cvv">CVC/CVV</label>
                      <input class="form-control" type="text" name="cvv" placeholder="123" id="cvv">
                    </div>
                    <div class="mb-4 col-md-4">
                      <label class="form-label" for="zip">ZIP</label>
                      <input class="form-control" type="text" name="zip" placeholder="123" id="zip">
                    </div>
                  </div>
                </form>
              </div>

              <div class="text-block">
                <h5 class="mb-4">Things to keep in mind</h5>
                <ul class="list-unstyled">
                  <li class="mb-2"> 
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-rounded icon-rounded-sm bg-secondary-light flex-shrink-0 me-4"><i class="fa fas fa-child text-secondary fa-fw text-center"></i></div>
                      <div><span class="text-sm">Not suitable for children and infants - The entrance staircase doesn't have handrails</span></div>
                    </div>
                  </li>
                  <li class="mb-2"> 
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-rounded icon-rounded-sm bg-secondary-light flex-shrink-0 me-4"><i class="fa fas fa-glass-cheers text-secondary fa-fw text-center"></i></div>
                      <div><span class="text-sm">No parties or events</span></div>
                    </div>
                  </li>
                  <li class="mb-2"> 
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-rounded icon-rounded-sm bg-secondary-light flex-shrink-0 me-4"><i class="fa fa-smoking-ban text-secondary fa-fw text-center"></i></div>
                      <div><span class="text-sm">No smoking</span></div>
                    </div>
                  </li>
                  <li class="mb-2"> 
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-rounded icon-rounded-sm bg-secondary-light flex-shrink-0 me-4"><i class="fa fa-cat text-secondary fa-fw text-center"></i></div>
                      <div><span class="text-sm">No pets</span></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="row form-block flex-column flex-sm-row">
                <div class="col text-center text-sm-start">
                </div>
                <div class="col text-center text-sm-end"><a class="btn btn-primary px-3" href="user-booking-2.html"> Next step<i class="fa-chevron-right fa ms-2"></i></a></div>
              </div>
            </div>
            <div class="col-lg-5 ps-xl-5">
              <div class="card border-0 shadow">
                <div class="card-body p-4">
                  <div class="text-block pb-3">
                    <div class="d-flex align-items-center">
                      <div>
                        <h6> <a class="text-reset" href="detail-rooms.html">{{alojamiento.getNombre()}}</a></h6>
                        <p class="text-muted text-sm mb-0">Entire home in New York</p>
                        <div class="mt-n1"><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-gray-200"></i>
                        </div>
                      </div><a class="flex-shrink-0" href="detail-rooms.html"><img class="ms-3 rounded" src="{{asset('/img/alojamientos/' ~ alojamiento.Images[0].ImageName)}}" alt="" width="100"></a>
                    </div>
                  </div>
                  <div class="text-block py-3">
                    <ul class="list-unstyled mb-0">
                      <li class="mb-3"><i class="fas fa-users fa-fw text-muted me-2"></i>{{formGet.huespedes}} Huesped</li>
                      <li class="mb-0"><i class="far fa-calendar fa-fw text-muted me-2"></i>{{formGet.llegada}} <i class="fas fa-arrow-right fa-fw text-muted mx-3"></i>{{formGet.salida}}</li>
                    </ul>
                  </div>
                  <div class="text-block pt-3 pb-0">
                    <table class="w-100">
                      <tbody>
                        <tr>
                          <th class="fw-normal py-2">$432.02 x 1 night</th>
                          <td class="text-end py-2">$432.02</td>
                        </tr>
                        
                      </tbody>
                      <tfoot>
                        <tr class="border-top">
                          <th class="pt-3">Total</th>
                          <td class="fw-bold text-end pt-3">$499.50</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </section>


{{ form_start(form)}}
<div class="container">
        <div class="row">
        <!--
            <div class="success-notify mt-5">
                <div class="success-icon">
                <i class="fal fa-check-circle"></i>
                </div>
                <div class="success-content">
                <h3>YOUR BOOKING CONFIRMED</h3>
                <p>Thank you for your booking! your payment has been successful done and your booking is now confirmed.A confirmation email has been sent to your email - info@example.com.</p>
                </div>
                </div>
                --> 
            <div class="col-lg-8 padding--top">
                <div class="booking-widget booking-details ">
                    <h3 class="booking-widget-title">Confirmar y Pagar</h4>
                    <h4>Tu viaje</h4>
                   
<div class="d-flex flex-column">
                
                  
 <div class="row">
    <div class="col-6">
    {{ form_label(form.llegada) }}
       {{ form_widget(form.llegada,{'value': formGet.llegada}) }}
       
    </div>
    <div class="col-6">
    {{ form_label(form.salida) }}
       {{ form_widget(form.salida,{'value': formGet.salida}) }}</div>

    <div class="col-12 pt-2">
      {{ form_label(form.huespedes) }}
       {{ form_widget(form.huespedes,{'type':'number','value': formGet.huespedes}) }}
    </div>
   
    </div>
                    </div>
                    
                    <div class="mt-30">
                    <h4 class="booking-widget-title">Payment</h4>
                    <div class="booking-payment">
                    <p>You Payment With Master card</p>
                    </div>
                    </div>
                    <div class="mt-30">
                    <h4 class="booking-widget-title">Inicia Sesion o registrate para continuar</h4>
                    <div class="booking-link">
                    {% if  app.user %}
   <button type="submit" class="btn btn-primary" name="reservar">confirmar</button>
   {% else %}
   <a href="{{path('login')}}"><button type="button" class="btn btn-primary" name="reservar">continuar</button></a>
   {% endif %}
                    
                    </div>
                    </div>
                    </div>



            </div>
            {{ form_end(form) }}

            <div class="col-lg-4">
                <div class="tour-area padding--top">
        
                    <div class="tour-item">
                    <div class="tour-img">
                 
                    <img src="{{asset('/img/alojamientos/' ~ alojamiento.Images[0].ImageName)}}" alt="">
                    <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="tour-meta">
                    <h4 class="p-2">{{alojamiento.getNombre()}}</h4>
                  
                    </div>
                    <div class="tour-info">
                    
                      <p class="p-2">{{alojamiento.getDescripcion()}}</p>
                    
                    </div>
                    <div class="tour-footer">
                    <div class="tour-price">
                    <h5>Detalles del precio</h5>
                    <div class="d-flex flex-row">
                        <div class="col-6 p-2">
                            <p class="text-left"><p></p></p>
                        </div>
                        <div class="col-6 p-2" style="text-align:end">
                            <p class="text-right"></p>
                        </div>
                        <hr>
                    </div>
                    <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <h6 class="fw-bold">Total(EUR)</h6>
                    </div>
                    <div class="col-6 p-2" style="text-align:end;">
                        <p></p>
                    </div>

                </div>
                    </div>
                    
                    </div>
                    </div>
                    </div>
            </div>
        </div>    
        </div>

        <script>
let fecha=new Date();
let anio=fecha.getFullYear();
let dia=fecha.getDate();
let _mes =fecha.getMonth();
_mes=_mes +1;

if(_mes < 10){
var mes= "0" + _mes;

}else{

  var mes= _mes.toString;
}

let fecha_minimo= anio + '-' + mes + '-' + dia;
fechallegada=document.getElementById("reservas_form_llegada");
fechallegada.setAttribute('min',fecha_minimo);
fechallegada.addEventListener('change',function(){

document.getElementById("reservas_form_salida").setAttribute('min',fechallegada.value);
})
document.getElementById("reservas_form_salida").setAttribute('min',fechallegada.value);


</script>

{% endblock %}