{% extends 'reserva.html.twig' %}

{% block title %}Hello AlojamientoController!{% endblock %}

{% block body %}



 


{{ form_start(form)}}
<div class="container">
        <div class="row">
        <!--
            <div class="success-notify mt-5">
                <div class="success-icon">
                <i class="fal fa-check-circle"></i>
                </div>
                <div class="success-content">
                <h3>YOUR BOOKING CONFIRMED</h3>
                <p>Thank you for your booking! your payment has been successful done and your booking is now confirmed.A confirmation email has been sent to your email - info@example.com.</p>
                </div>
                </div>
                --> 
            <div class="col-lg-8 padding--top">
                <div class="booking-widget booking-details ">
                    <h3 class="booking-widget-title">Confirmar y Pagar</h4>
                    <h4>Tu viaje</h4>
                   
<div class="d-flex flex-column">
                
                  
 <div class="row">
    <div class="col-6">
    {{ form_label(form.llegada) }}
       {{ form_widget(form.llegada,{'value': formGet.llegada}) }}
       
    </div>
    <div class="col-6">
    {{ form_label(form.salida) }}
       {{ form_widget(form.salida,{'value': formGet.salida}) }}</div>

    <div class="col-12 pt-2">
      {{ form_label(form.adultos) }}
       {{ form_widget(form.adultos,{'type':'number','value': formGet.adultos}) }}
    </div>
    <div class="col-12 pt-2">
      <label>Niños</label>
       {{ form_widget(form.ninos,{'type':'number' ,'value': formGet.ninos}) }}
    </div>
    </div>
                    </div>
                    
                    <div class="mt-30">
                    <h4 class="booking-widget-title">Payment</h4>
                    <div class="booking-payment">
                    <p>You Payment With Master card</p>
                    </div>
                    </div>
                    <div class="mt-30">
                    <h4 class="booking-widget-title">Inicia Sesion o registrate para continuar</h4>
                    <div class="booking-link">
                    {% if  app.user %}
   <button type="submit" class="btn btn-primary" name="reservar">confirmar</button>
   {% else %}
   <a href="{{path('login')}}"><button type="button" class="btn btn-primary" name="reservar">continuar</button></a>
   {% endif %}
                    
                    </div>
                    </div>
                    </div>



            </div>
            {{ form_end(form) }}

            <div class="col-lg-4">
                <div class="tour-area padding--top">
        
                    <div class="tour-item">
                    <div class="tour-img">
                 
                    <img src="{{asset('/img/alojamientos/' ~ alojamiento.Images[0].ImageName)}}" alt="">
                    <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="tour-meta">
                    <h4 class="p-2">{{alojamiento.getNombre()}}</h4>
                  
                    </div>
                    <div class="tour-info">
                    
                      <p class="p-2">{{alojamiento.getDescripcion()}}</p>
                    
                    </div>
                    <div class="tour-footer">
                    <div class="tour-price">
                    <h5>Detalles del precio</h5>
                    <div class="d-flex flex-row">
                        <div class="col-6 p-2">
                            <p class="text-left"><p></p></p>
                        </div>
                        <div class="col-6 p-2" style="text-align:end">
                            <p class="text-right"></p>
                        </div>
                        <hr>
                    </div>
                    <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <h6 class="fw-bold">Total(EUR)</h6>
                    </div>
                    <div class="col-6 p-2" style="text-align:end;">
                        <p></p>
                    </div>

                </div>
                    </div>
                    
                    </div>
                    </div>
                    </div>
            </div>
        </div>    
        </div>

        <script>
let fecha=new Date();
let anio=fecha.getFullYear();
let dia=fecha.getDate();
let _mes =fecha.getMonth();
_mes=_mes +1;

if(_mes < 10){
var mes= "0" + _mes;

}else{

  var mes= _mes.toString;
}

let fecha_minimo= anio + '-' + mes + '-' + dia;
fechallegada=document.getElementById("reservas_form_llegada");
fechallegada.setAttribute('min',fecha_minimo);
fechallegada.addEventListener('change',function(){

document.getElementById("reservas_form_salida").setAttribute('min',fechallegada.value);
})
document.getElementById("reservas_form_salida").setAttribute('min',fechallegada.value);


</script>

{% endblock %}