{% extends 'baseIndex.html.twig' %}

{% block title %}Hello AdministracionController!{% endblock %}

{% block body %}

<h1 class="mt-4">Editar</h1>
<p>{{hotel.getNombre()}}</p>

{{ form_start(CreateForm,{'attr': {'enctype': 'multipart/form-data'}}) }}
   <div class="p-5 pt-2  d-flex flex-column gap-3 justify-content-center col-8 w-100">

<div class="card ">
  <div class="card-header ">
    <h3 class="card-title fw-light">Datos generales</h3>
  </div>
  <div class="card-body">
  
  <div class="form-group"> <!-- Full Name -->
       {{ form_label(CreateForm.Alojamiento.nombre) }}
       {{ form_widget(CreateForm.Alojamiento.nombre,{'attr': {'value': hotel.getNombre()}}) }}
    </div> 

 <div class="form-group"> <!-- Actividad -->
         {{ form_label(CreateForm.Alojamiento.actividad) }}
         {{ form_widget(CreateForm.Alojamiento.actividad,{'attr': {'value': hotel.getActividad()}}) }}
     </div>

  <div class="form-group"> <!-- caracteristicas -->
         {{ form_label(CreateForm.Alojamiento.caracteristicas) }}
        {{ form_widget(CreateForm.Alojamiento.caracteristicas,{'attr': {'value': hotel.getCaracteristicas()}}) }}
     </div> 

           <div class="form-group"> <!-- descripcion -->
        {{ form_label(CreateForm.Alojamiento.descripcion) }}
        {{ form_widget(CreateForm.Alojamiento.descripcion,{'attr': {'value': hotel.Descripcion()}}) }}
     </div> 
</div>
</div>


<div class="card card-warning">
  <div class="card-header">
    <h3 class="card-title fw-light">imagenes</h3>
  </div>
  <div class="card-body">
  
  <div class="form-group">
      <label for="imagenes" class="control-label">Subir imagenes</label>
  {{ form_row(CreateForm.Alojamiento.images) }}
    </div>
  </div>
</div>


   <div class="card card-warning">
  <div class="card-header">
    <h3 class="card-title fw-light">Ubicación</h3>
  </div>
  <div class="card-body">
  
 <div class="form-group"> <!-- direccion -->
        {{ form_label(CreateForm.Ubicaciones.direccion) }}
        {{ form_widget(CreateForm.Ubicaciones.direccion,{'attr': {'value': hotel.getUbicacion().getDireccion()}}) }}
     </div>

     <div class="form-group"> <!-- Comunidad -->
        {{ form_label(CreateForm.Ubicaciones.comunidad) }}
        {{ form_widget(CreateForm.Ubicaciones.comunidad,{'attr': {'value': hotel.getUbicacion().getComunidad()}}) }}
     </div>
     <div class="form-group"> <!-- Provincia -->
            {{ form_label(CreateForm.Ubicaciones.provincia) }}
         {{ form_widget(CreateForm.Ubicaciones.provincia,{'attr': {'value': hotel.getUbicacion().getProvincia()}}) }}
     </div>

      <div class="form-group"> <!-- Latitud -->
        {{ form_label(CreateForm.Ubicaciones.latitud) }}
        {{ form_widget(CreateForm.Ubicaciones.latitud,{'attr': {'value': hotel.getUbicacion().getLatitud()}}) }}
     </div>
     <div class="form-group"> <!-- Longitud -->
        {{ form_label(CreateForm.Ubicaciones.longitud) }}
        {{ form_widget(CreateForm.Ubicaciones.longitud,{'attr': {'value': hotel.getUbicacion().getLongitud()}}) }}
     </div>


</div>
</div>

<div class="card card-warning">
  <div class="card-header">
    <h3 class="card-title fw-light">Precio</h3>
  </div>
  <div class="card-body">
      <div class="form-group"> <!-- precio -->
             {{ form_row(CreateForm.Alojamiento.precio,{'attr': {'value': hotel.getPrecio()}}) }}
     </div> 
 
  </div>
</div>

   
 <div class="form-group"> <!-- Submit Button -->
        <a href="{{path('alojamientos')}}"><button type="button" class="btn btn-danger">Cancelar</button></a>
        <button type="submit" class="btn btn-primary" name="editar">Editar</button>
    </div> 
 {{form_end(CreateForm)}}

   

{% endblock %}